@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--c-gray-f7: 247 247 247;
		--c-gray-ee: 238 238 238;
		--c-gray-aa: 176 176 176;
		--c-gray-55: 85 85 85;
		--c-wine: 209 0 96;
	}
	html[data-mode='dark'] {
		--c-gray-f7: 9 9 9;
		--c-gray-ee: 18 18 18;
		--c-gray-aa: 79 79 79;
		--c-gray-55: 170 170 170;
	}
}

:root {
	font-size: 62.5%;
	font-weight: medium;
}

html {
	font-family: 'Montserrat', sans-serif;
}

html[data-mode='dark'] {
	color-scheme: dark;
}

body {
	font-size: 1.6rem;
}
